@import "tailwindcss";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme{
  --color-primary : #00aeef;
  --color-gray : #F5F5F5;
  --color-blue : #0E4D9C;
  --color-pink : #530E9CAB;
  --color-dark-green : #0E8E9CAB;
  --color-green : #1F9C0EAB;
  --color-ash:#0E4D9C40;


}